.cookie_banner_container{
    background: #1a1a1a;
    padding: 8px 32px;
    border-radius: 8px 8px 0 0;
    position: fixed;
    right: 1%;
    bottom: 0;
    max-width: 550px;
    margin: 0 auto;
    box-shadow: 2px -8px 18px rgba(255, 82, 82, 0.282);
   
}
.cookie_banner_container p a{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.cookie_banner_container p {
    font-size: 23px;
    color: rgb(255, 255, 255);

}

.cookie_banner_container h1 {
    color:#fffefe;
    font-size: 14px;
    right: 25px;
}

.agreebtn{
    border: 0;
    padding: 16px 25px;
    background: #4d9900;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    margin: 16px 0;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 -8px 16px rgb(0,0,0,0.2);
}

.ppbtn{
    border: 0;
    padding: 16px 20px;
    background: #333333;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    margin: 16px 0;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 -8px 16px rgb(0,0,0,0.2);
}
h1{
    display: inline;
    float: right;
    padding-right: 10px;
    padding-top: 20px;
}
